@model  deepp.Entities.Models.Institute
@{
    ViewBag.Title = "Admission Info";
}


<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <div class="container">
            <div class="row">
                <aside class="page-sidebar">
                    <div class="widget cs_ads_banner">
                        <div class="cs_banner_section">
                            <a target="_blank" href="" id="cs_banner_clicks276833028" onclick="cs_banner_click_count_plus('http://uoce.chimpgroup.com/wp-admin/admin-ajax.php', '276833028')"><img alt="Sidebar" src="http://uoce.chimpgroup.com/wp-content/uploads/add-img.jpg"></a>
                        </div>
                    </div>

                    <div class="widget widget_tabs">
                        <div class="widget element-size-100 widget_tabs">
                            <div class="widget-section-title">
                                <h6></h6>
                            </div>
                            <ul class="tab-nav">
                                <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-user9"> Notice</i></a></li>
                                <li class=""><a href="#tab2" data-toggle="tab"><i class="icon-tag7">News & Events</i></a></li>
                                @*<li class=""><a href="#tab3" data-toggle="tab"><i class="icon-folder5">Acdemic Caleder</i></a></li>*@
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active tabs news" id="tab1">
                                    <ul>

                                        @{Html.RenderAction("GetAll", "Notice");}
                                    </ul>
                                    <a href="~/Notice/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More Notice</a>
                                </div>
                                <div class="tab-pane fade tabs news" id="tab2">


                                    @{Html.RenderAction("GetAll", "Event");}

                                    <a href="~/Event/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More News</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </aside>
                <div class="page-content">
                    <section class="page-section">
                        <div class="section-fullwidth">
                            <div class="cs-course-detail">
                                <div class="cs-heading-sec">
                                    <div class="inner-sec">
                                        <h1>
                                            @ViewBag.Title
                                        </h1>
                                    </div>
                                </div>

                                <div class="cs-detail-text">

                                    <p>@MvcHtmlString.Create(@Model.HistoryText)</p>

                                    <h5>Basic Information</h5>
                                    <div class="col-md-12 cs-tabs box">
                                        <div id="cs-tab">
                                            <ul class="nav nav-tabs">
                                                <li class=""><a data-toggle="tab" href="#tababout-the-coures8769" aria-expanded="false">Tutuion Fees </a></li>
                                                <li class=""><a data-toggle="tab" href="#tabhow-to-enroll8666" aria-expanded="false">Scholarship </a></li>
                                                <li class=""><a data-toggle="tab" href="#tabcurriculam3794" aria-expanded="false">Library Info</a></li>
                                                <li class="active"><a data-toggle="tab" href="#tabtuition-cost4805" aria-expanded="true">Multimedia</a></li>
                                            </ul><div class="tab-content">
                                                <div id="tababout-the-coures8769" class="tab-pane fade">
                                                    <div class="tab-contents">
                                                        @MvcHtmlString.Create(@Model.MasterPlanText) <div id="cs-list423937" class="col-md-12  cs-list">
                                                            <div class="liststyle">
                                                                @*<ul class="cs-iconlist"><li style=""><i class="icon-check-square"></i>&nbsp; Regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed </li><li style=""><i class="icon-check-square"></i>&nbsp; Pangolin regarding rabbit be the ahead and hedgehog unsuccessfully </li><li style=""><i class="icon-check-square"></i>&nbsp; Struck labrador besides and yet by goodness much </li><li style=""><i class="icon-check-square"></i>&nbsp; Bowed meadowlark dully jeez otter altruistically wrote oh racy alas </li><li style=""><i class="icon-check-square"></i>&nbsp; Less when oh. Pangolin regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed. </li> </ul>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div id="tabhow-to-enroll8666" class="tab-pane fade">
                                                    <div class="tab-contents">
                                                        @MvcHtmlString.Create(@Model.InfractructureText) <div id="cs-list783135" class="col-md-12  cs-list">
                                                            <div class="liststyle">
                                                                @*<ul class="cs-iconlist"><li style=""><i class="icon-check-square"></i>&nbsp; Regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed </li><li style=""><i class="icon-check-square"></i>&nbsp; Pangolin regarding rabbit be the ahead and hedgehog unsuccessfully </li><li style=""><i class="icon-check-square"></i>&nbsp; Struck labrador besides and yet by goodness much </li><li style=""><i class="icon-check-square"></i>&nbsp; Bowed meadowlark dully jeez otter altruistically wrote oh racy alas </li><li style=""><i class="icon-check-square"></i>&nbsp; Less when oh. Pangolin regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed. </li> </ul>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div id="tabcurriculam3794" class="tab-pane fade">
                                                    <div class="tab-contents">
                                                        @MvcHtmlString.Create(@Model.LibraryInfo) <div id="cs-list783135" class="col-md-12  cs-list">
                                                            <div class="liststyle">
                                                                @*<ul class="cs-iconlist"><li style=""><i class="icon-check-square"></i>&nbsp; Regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed </li><li style=""><i class="icon-check-square"></i>&nbsp; Pangolin regarding rabbit be the ahead and hedgehog unsuccessfully </li><li style=""><i class="icon-check-square"></i>&nbsp; Struck labrador besides and yet by goodness much </li><li style=""><i class="icon-check-square"></i>&nbsp; Bowed meadowlark dully jeez otter altruistically wrote oh racy alas </li><li style=""><i class="icon-check-square"></i>&nbsp; Less when oh. Pangolin regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed. </li> </ul>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div id="tabtuition-cost4805" class="tab-pane fade active in">
                                                    <div class="tab-contents">
                                                        @MvcHtmlString.Create(@Model.Multimedia) <div id="cs-list783135" class="col-md-12  cs-list">
                                                            <div class="liststyle">
                                                                @*<ul class="cs-iconlist"><li style=""><i class="icon-check-square"></i>&nbsp; Regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed </li><li style=""><i class="icon-check-square"></i>&nbsp; Pangolin regarding rabbit be the ahead and hedgehog unsuccessfully </li><li style=""><i class="icon-check-square"></i>&nbsp; Struck labrador besides and yet by goodness much </li><li style=""><i class="icon-check-square"></i>&nbsp; Bowed meadowlark dully jeez otter altruistically wrote oh racy alas </li><li style=""><i class="icon-check-square"></i>&nbsp; Less when oh. Pangolin regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed. </li> </ul>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-team team-box">





                                </div>

                              
                            </div>
                        </div>
                    </section>
                </div>
               
            </div>
        </div>


    </div>
</main>


<script src="~/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script type="text/javascript">

    jQuery(window).load(function () {
        setTimeout(function () {
            jQuery('.cs-map-bL3zXgInN3').animate({
                'height': '250'
            }, 400)
        }, 400)
    })

    var panorama;

    function initialize() {
        var myLatlng = new google.maps.LatLng(51.507351, -0.127758);
        var mapOptions = {
            zoom: 11,
            scrollwheel: true,
            draggable: true,
            streetViewControl: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.content,
            disableDefaultUI: false,
        }; var map = new google.maps.Map(document.getElementById('map_canvasbL3zXgInN3'), mapOptions);
        var styles = '';
        if (styles != '') {
            var styledMap = new google.maps.StyledMapType(styles, { name: 'Styled Map' });
            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');
        }
        var infowindow = new google.maps.InfoWindow({
            content: '274 Seven Sisters Road, London, N4 2HY,London,United Kingdom',
            maxWidth: 250,
            maxHeight: 100,

        });
        var marker = new google.maps.Marker({
            deeppition: myLatlng,
            map: map,
            title: '',
            icon: '',
            shadow: ''
        });

        //google.maps.event.addListener(marker, 'click', function() {
        if (infowindow.content != '') {
            infowindow.open(map, marker);
            map.panBy(1, -60);
            google.maps.event.addListener(marker, 'click', function (event) {
                infowindow.open(map, marker);
            });
        }
        //});
        panorama = map.getStreetView();
        panorama.setPosition(myLatlng);
        panorama.setPov(({
            heading: 265,
            pitch: 0
        }));

    }

    function cs_toggle_street_view(btn) {
        var toggle = panorama.getVisible();
        if (toggle == false) {
            if (btn == 'streetview') {
                panorama.setVisible(true);
            }
        } else {
            if (btn == 'mapview') {
                panorama.setVisible(false);
            }
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    jQuery(window).load(function () {
        jQuery('.cs-team-slider').flexslider({
            slideshowSpeed: 4000,
            animationDuration: 1100,
            animation: 'slide',
            directionNav: true,
            controlNav: false,
            prevText: "&lt;i class='icon-arrow-left10'&gt;&lt;/i&gt;",
            nextText: "&lt;i class='icon-arrow-right10'&gt;&lt;/i&gt;",
        });
    });

    jQuery(window).load(function () {
        setTimeout(function () {
            jQuery('.cs-map-view').hide();
            jQuery('.map-btn').on('click', function (e) {
                e.preventDefault();
                jQuery('.cs-course-detail').find('.cs-map-view').slideToggle();
            });
        }, 2000);

    });
</script>



