@model pnsms.Entities.Models.Guardian
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            <div class="panel panel-midnightblue">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            @*<img src="assets/demo/avatar/johansson.png" alt="" class="pull-left" style="margin: 0 20px 20px 0">*@
                            <img src="~/image/GetImage?id=@Model.GuardianId &refCode=20" draggable="false" class="pull-left imageprofile" style="margin: 0 20px 20px 0">
                            <div class="table-responsive">
                                @*<h3><strong>John Doe</strong></h3>*@
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.UserInfo.Name)</td>
                                            <td><a href="#">@Html.DisplayFor(model => model.UserInfo.Name)</a></td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.UserInfo.EmailAddress)</td>
                                            <td><a href="">@Html.DisplayFor(model => model.UserInfo.EmailAddress)</a></td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.UserInfo.ContactNumber1)</td>
                                            <td>@Html.DisplayFor(model => model.UserInfo.ContactNumber1)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Profession)</td>
                                            <td>@Html.DisplayFor(model => model.Profession.Name)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.UserInfo.Nationality)</td>
                                            <td>@Html.DisplayFor(model => model.UserInfo.Nationality.Name)</td>
                                        </tr>
                                        <tr>
                                            <td>Social</td>
                                            <td>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-skype"></i></a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-dribbble"></i></a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-tumblr"></i></a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-linkedin"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <h3>About</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
                            </p>
                            <p>
                                Dsperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
                            </p>
                        </div>*@
                    </div>
                </div>
            </div>
        