@model  pnsms.Entities.Models.ExamSubjectMark
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {

        var applicantVM = {//checked='checked'
            checklistTemplate: "<tr><td style='display:none;'><input type='hidden' id='ApplicantCheckListID' name=[ApplicantCheckListIDid].ApplicantCheckListID value=[ApplicantCheckListID]></td><td style='display:none;'><input type='hidden' id='CheckListGroupMapID' name=[CheckListGroupMapIDid].CheckListGroupMapID value=[CheckListGroupMapID]></td><td style='display:none;'><input type='hidden' id='CheckListID' name=[CheckListIDid].CheckListID value=[CheckListID]></td><td><input type='checkbox' class='check-box' [checkedid]=[checkedid1] value=[valueIsCheckList]  id=[IsCheckListId]IsCheckList name=[IsCheckListName].IsCheckList onclick='SetIsActiveValue(this)'></td><td>[CheckListName]</td><td> <textarea  id=[DescriptionId]Description name=[DescriptionName].Description rows='3' cols='50'>[Description]</textarea></td></tr>",
            applicant: {

            },
            applicant: [],
            Initialize: function () {

                var optionalLabel = 'Please Select..';
                $('#ddlExamTypeId').change(function (event) {


                    if ($('#ddlExamTypeId').val() == '' || $('#ddlExamTypeId').val() == null) {
                        $("#ddlExam").empty();

                        $("#ddlExam").append($('<option/>', {
                            value: "",
                            text: optionalLabel
                        }));

                        return false;
                    }
                    else {
                        LoadDropDownList('ddlExam'
                     , '@Url.Content("~/StudentResult/GetExamBySearchCriteria")?sessionId=' + $('#ddlSessionId').val()+ '&ExamTypeId='+ $('#ddlExamTypeId').val(), "Please Select..",null);


                    }
                });


                




            },

        }
        $('#ddlsearch').click(function (event) {
           
            $("#table1div").show();
            $("#table2div").show();
           

           var url = '@Url.Content("~/StudentResult/StudentResultSheet")';
          //  var param = JSON.stringify({ 'sessionId': $('#ddlSessionId').val(), ExamTypeId: +$('#ddlExamTypeId').val() });

            $.ajax({
                cache: false,
                url:url,// "~/StudentResult/StudentResultSheet?sessionId=" +  $('#ddlSessionId').val() + "&ExamTypeId=" + $('#ddlExamTypeId').val(),
                type: "GET",
                data: "sessionId=" +  $('#ddlSessionId').val() + "&ExamTypeId=" + $('#ddlExamTypeId').val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (data) {
                   
                   
                    $("#ClassName").text(data.objExamTypeWiseTabulationSheetMaster.AcademicClassName);
                    $("#Section").text(data.objExamTypeWiseTabulationSheetMaster.AcademicSectionName);
                    $("#StudentName").text(data.objExamTypeWiseTabulationSheetMaster.StudentName);
                    $("#TotalMarks").text(data.objExamTypeWiseTabulationSheetMaster.TotalMarks);
                    $("#Totalsubjectmarks").text(data.objExamTypeWiseTabulationSheetMaster.TotalSubject);
                    $("#AverageNumber").text(data.objExamTypeWiseTabulationSheetMaster.AverageNumber);
                    $("#GradeName").text(data.objExamTypeWiseTabulationSheetMaster.ExamGradeName);
                    $("#GradePoint").text(data.objExamTypeWiseTabulationSheetMaster.ExamGradePoint);

                    

                    var item = data.lstExamTypeWiseTabulationSheetDetails;
                    var table = $("#table tbody");
                    table.empty();
                    $.each(item, function (idx, elem) {
                        table.append("<tr><td>" + elem.InstituteSubjectName + "</td><td>" + elem.SubjectMarks + "</td>   <td>" + elem.TotalMarks + "</td>   <td>" + elem.AverageMarks + "</td>   <td>" + elem.AcceptTotalMarks + "</td>   <td>" + elem.ExamGradeName + "</td>   <td>" + elem.ExamGradePoint + "</td></tr>");
                    });
                  
                },
                //error: function (error) {
                //    alert("no data to show");
                //}
            }); 

        })
        applicantVM.Initialize();

    });


    function LoadDropDownList(objDDLId, url, optionalLabel, objDataTableToReload) {
        var objDDL = $("#" + objDDLId);
        objDDL.empty();
        if (optionalLabel != null) {
            objDDL.append($('<option/>', {
                value: "",
                text: optionalLabel
            }));
        }
        $.ajax({
            cache: false,
            url: url,
            type: "GET",
            beforeSend: function () {
            },
            complete: function () {
            },
            success: function (data) {

                $.each(data, function (index, itemData) {

                  

                    objDDL.append($('<option/>', {
                        value: data[index]["Key"],
                        text: data[index]["Value"]
                    }));
                });

                if (objDataTableToReload != null) {
                    // DataTableRedraw(objDataTableToReload);
                }
            },
            error: function (x, e) {
                //alert('error');
            }
        }); //end ajax call


    }


</script>



<div class="panel-body">


    <div class="row">


        @*@Html.DropDownListFor(model => model.applicant.DivisionID, new SelectList(Model.kvpDivision, "Key", "Value", Model.applicant.DivisionID), "Select Division", new { @class = "form-control", id = "ddlDivisionId" })
        @Html.ValidationMessageFor(model => model.applicant.DivisionID)*@

        <div class="col-sm-3 form-group">
            <label>Session</label><br/>
            @Html.DropDownListFor(x => x.SessionId, new SelectList(Model.AcademicSessionList, "Key", "Value", Model.SessionId), "Select Session", new { @class = "mc_input form-control", id="ddlSessionId"})
            @Html.ValidationMessageFor(model => model.SessionId)
        </div>

        <div class="col-sm-3 form-group">
            <label>Exam Type</label><br />
            @Html.DropDownListFor(x => x.ExamTypeId, new SelectList(Model.ExamTypeList, "Key", "Value", Model.ExamTypeId), "Select Exam Type", new { @class = "mc_input form-control", id = "ddlExamTypeId" })
            @Html.ValidationMessageFor(model => model.ExamTypeId)
        </div>

        <div class="col-sm-3 form-group">
            <label>Exam Name</label><br />
            @Html.DropDownListFor(x => x.ExamId, new SelectList(Model.ExamList, "Key", "Value", Model.ExamId), "Select Exam ", new { @class = "mc_input form-control", id = "ddlExam" })
            @Html.ValidationMessageFor(model => model.ExamId)
        </div>



        <div class="col-sm-3 form-group">
            <label>&nbsp;</label>
            <button type="submit" id="ddlsearch" style="margin-top:25px;" class="btn btn-primary" ><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Search</button>
        </div>
    </div>

   <div>
       <div class="col-md-3"></div>
       <div class="col-md-6" id="table1div" style="display:none">
           <table class="table table-condensed">
               <tbody>
                   @*<tr>
                       <td>Exam Type Name</td>
                       <td>
                           <label id="ExamName"></label>
                       </td>
                      



                   </tr>*@
                   <tr>
                       <td>Class Name</td>
                       <td><label id="ClassName"></label></td>
                   </tr>
                   <tr>
                       <td>Section Nmae</td>
                       <td><label id="Section"></label></td>
                   </tr>
                   <tr>
                       <td>Student Nmae</td>
                       <td><label id="StudentName"></label></td>
                   </tr>
                   <tr>
                       <td>Total Marks</td>
                       <td><label id="TotalMarks"></label></td>
                   </tr>
                   <tr>
                       <td>Total Subjects</td>
                       <td><label id="Totalsubjectmarks"></label></td>
                   </tr>
                   <tr>
                       <td>Average Number</td>
                       <td><label id="AverageNumber"></label></td>
                   </tr>
                   <tr>
                       <td>Grade Name</td>
                       <td><label id="GradeName"></label></td>
                   </tr>
                   <tr>
                       <td>Grade Point</td>
                       <td><label id="GradePoint"></label></td>
                   </tr>




               </tbody>
           </table>
       </div>

       <div class="col-md-3"></div>

       <div class=" table table-responsive" id="table2div" style="display:none">
           <table class=" table table-striped b-t b-light" id="table">
               <thead>
                   <tr>
                       <th>Subject Name</th>
                       <th>Total Marks</th>
                       <th>Marks Obtained</th>
                       <th>Average Number</th>
                       <th>Accept Total Marks</th>
                       <th>Grade</th>
                       <th>Grade Point</th>

                   </tr>
               </thead>
               <tbody>
                  
               </tbody>
               <tfoot>
                   <tr></tr>
               </tfoot>
           </table>
       </div>
   </div>

  
       

</div>


@section Scripts {

    @Scripts.Render("~/bundles/Mask")
    @Scripts.Render("~/bundles/jqueryval")


}