@model  deepp.Entities.Models.Event
@{
    ViewBag.Title = "SingleEvent";
}

<div class="container">

    <!-- Here begin Main Content -->





    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">

                <div class="timeline-body">
                    <div class="timeline-header">
                        <span class="author">Posted by: @Model.ContactPerson </span>
                        <span class="date">@Model.EventStartAt.Value.ToString("dddd dd MMMMM")- @Model.EventEndAt.Value.ToString("dddd dd MMMMM yyyy")</span>
                    </div>
                    <div class="timeline-content">
                        @*<h3>Lorem Ipsum Dolor Sit Amet</h3>*@
                        <p>
                            @*<img src="assets/demo/images/thmb_nature_rider.jpg" alt="" class="pull-left">*@
                            @if (Model.Image != null)
                            {
                                @*<img src=data:image/jpg;base64,@Convert.ToBase64String(Model.Images.FirstOrDefault().ImageBinaryData) height="100" width="100">*@
                                <img src="/image/GetImageById?id=@Model.Image.Id" height="80" width="80">

                            }
                            @MvcHtmlString.Create(@Model.EventBriefInfo)

                            @if (@Model.EventTitle.Length > 150)
                            {

                                @Model.EventTitle.Substring(1, 150)<text>....</text>

                            }
                            else
                            {

                                @Model.EventTitle

                            }

                            @MvcHtmlString.Create(@Model.EventBody)
                            @*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit! Quasi, officia, veniam mollitia recusandae iure aperiam totam culpa aut nobis eveniet porro laborum quisquam non.*@
                        </p>
                    </div>
                    @*<div class="timeline-footer">
                            <a href="#" class="btn btn-default btn-sm pull-left">Read Full Story</a>
                        </div>*@
                </div>




            </div>
        </div>
    </div>
</div>





