@model IEnumerable<pnsms.Entities.Models.Teacher>
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Teacher List";
}
<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="page-content">
                    <!-- Page Section -->
                    <div style="margin-top: 0px;margin-bottom: 0px;border-top: 0px #e0e0e0 solid;border-bottom: 0px #e0e0e0 solid;" class="page-section ">
                        <!-- Container Start -->
                        <div class="container">
                            <div class="row">
                                <div class="section-fullwidth">
                                    <div class="element-size-100"><div class="cs-heading-sec col-md-12"><div style="border-bottom:1px solid #ebebe9 !important;" class="inner-sec"><h1 style="color: !important; font-size: 30px !important; text-align:left;;">@ViewBag.Title</h1><div style="color: !important; text-align: left;;">													</div></div></div></div><div class="element-size-100">
                                        <div class="cs-team team-plain col-md-12">
                                            @foreach (var item in Model)
                                            {
                                                <article class="plainbackground">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="overlayslide-team">
                                                                <a href="~/Teacher/TeacherDetails?teacherId=@Model.FirstOrDefault().TeacherId">
                                                                    @*<img alt="UOCE-Team-Members-12" src="http://uoce.chimpgroup.com/wp-content/uploads/UOCE-Team-Members-12.jpg" class="media-object">*@

                                                                    <img src="/image/GetImage?id=@item.TeacherId &refCode=14&isThumbnail=false" class="media-object" onError="this.onerror=null;this.src='/images/demo.png';" alt="@item.UserInfo.Name">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 style="color: !important">
                                                                <a href="~/Teacher/TeacherDetails?teacherId=@Model.FirstOrDefault().TeacherId">@item.UserInfo.Name</a>
                                                            </h4>
                                                            <h3 style="color: !important">@item.Designation.Name</h3>
                                                            <p style="color: !important">
                                                              @*@MvcHtmlString.Create(@item.UserInfo.AboutUser)*@

                                                                @if (@item.UserInfo.AboutUser != null)
                                                                {
                                                                    if (@item.UserInfo.AboutUser.Length > 2000)
                                                                    {
                                                                        @MvcHtmlString.Create(@Regex.Replace(@item.UserInfo.AboutUser.Substring(0, 2000), @"<[^>]+>|<", "").Trim()) <span>..............</span>
                                                                        <a class="btn btn-info" href="~/Teacher/TeacherDetails?teacherId=@Model.FirstOrDefault().TeacherId">Read More</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        @MvcHtmlString.Create(@Regex.Replace(@item.UserInfo.AboutUser, @"<[^>]+>|<", "").Trim())
                                                                    }
                                                                    
                                                                }
                                                            </p>
                                                            <div class="contactdiv">
                                                                <ul>
                                                                    <li>
                                                                        <a class="emaildiv" href="mailto:info@example.com">
                                                                            <span><i class="icon-envelope4"></i></span>

                                                                            @item.UserInfo.EmailAddress
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <span><i class="icon-phone6"></i></span>
                                                                        @item.UserInfo.ContactNumber1
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-lg-12 marginleft">
                                                                <div class="social-media-blog">
                                                                    <ul>
                                                                      

                                                                            <li><a class="icon-facebook2" data-original-title="Facebook" href="@item.UserInfo.FacebookId" target="_blank"></a></li>

                                                                            <li><a class="icon-twitter6" data-original-title="Twitter" href="@item.UserInfo.TwitterId" target="_blank"></a></li>

                                                                            <li><a class="icon-googleplus7" data-original-title="GooglePlus" href="@item.UserInfo.GoogleId" target="_blank"></a></li>

                                                                            <li><a class="icon-instagram4" data-original-title="Instagram" href="http://linkedin.com" target="_blank"></a></li>

                                                                            <li><a class="icon-envelope4" data-original-title="Email" href="@item.UserInfo.EmailAddress" target="_blank"> <span>Email</span></a></li>
                                                                        
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>

                                            }                                          

                                        </div><div class="col-md-12"><nav class="pagination"><div class="spreater"></div><ul><li class="pgprev cs-inactive"><a class="icon"><i class="icon-caret-left"></i></a></li><li><a class="active">1</a></li><li><a href="?page_id_all=2">2</a></li><li class="pgnext"><a href="?page_id_all=2" class="icon"> <i class="icon-caret-right"></i></a></li></ul><div class="spreater"></div></nav></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="page-sidebar">
                    <div class="widget cs_ads_banner">
                        <div class="cs_banner_section">
                            <a target="_blank" href="" id="cs_banner_clicks276833028" onclick="cs_banner_click_count_plus('http://uoce.chimpgroup.com/wp-admin/admin-ajax.php', '276833028')"><img alt="Sidebar" src="http://uoce.chimpgroup.com/wp-content/uploads/add-img.jpg"></a>
                        </div>
                    </div>
                    <div class="widget widget_tabs">
                        <div class="widget element-size-100 widget_tabs">
                            <div class="widget-section-title">
                                <h6></h6>
                            </div>
                            <ul class="tab-nav">
                                <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-user9"> Notice</i></a></li>
                                <li class=""><a href="#tab2" data-toggle="tab"><i class="icon-tag7">News & Events</i></a></li>
                                @*<li class=""><a href="#tab3" data-toggle="tab"><i class="icon-folder5">Acdemic Caleder</i></a></li>*@
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active tabs news" id="tab1">
                                    <ul>

                                        @{Html.RenderAction("GetAll", "Notice");}
                                    </ul>
                                    <a href="~/Notice/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More Notice</a>
                                </div>
                                <div class="tab-pane fade tabs news" id="tab2">


                                    @{Html.RenderAction("GetAll", "Event");}

                                    <a href="~/Event/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More News</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>
@*@@model IEnumerable<pnsms.Entities.Models.Teacher>
    @{
        ViewBag.Title = "Teacher List";
    }
    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">Teachers</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                @Html.ActionLink("← Go back Home", "Index", "Home", new { }, null)
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-content">
                <h4 class="widget-title"><span>Notice</span></h4>
                @{Html.RenderAction("GetAll", "Notice");}
                @Html.ActionLink("More Notice", "GetAllWithGrid", "Notice", new { }, new { @class = "btn btn-default-alt btn-sm pull-right" })
            </div> <!-- /.box-content -->
            <div class="box-content">
                <h4 class="widget-title"><span>Gallery</span></h4>
                @{Html.RenderAction("GetPartialGallery", "Gallery");}
            </div> <!-- /.box-content -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-8">
            <div class="box-content">
                <div class="events-sidebar">
                    <h4 class="widget-title">
                        <span>Total Teachers : @ViewBag.Count</span>
                    </h4>
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li class="event-item">
                                <div class="event-thumb">
                                    <img src="/image/GetImage?id=@item.TeacherId &refCode=14&isThumbnail=false" class="attachment-member-thumb">
                                </div>
                                <div class="event-content member-content">
                                    <ul class="social pull-right">
                                        <li><a class="fa fa-twitter" href="#"></a></li>
                                        <li><a class="fa fa-facebook" href="#"></a></li>
                                        <li><a class="fa fa-google-plus" href="#"></a></li>
                                    </ul>
                                    <h5 class="event-title">@item.UserInfo.Name</h5>
                                    <h5 class="event-title">@item.Designation.Name</h5>
                                    <p class="event-meta">about about</p>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div> <!-- /.box-content -->
    </div>*@
