@using MvcPaging
@model MvcPaging.IPagedList<pnsms.Entities.StoredProcedures.Models.GlobalHeadmasterList>
@{
    ViewBag.Title = "Head Master List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#page-leftbar li").removeClass("active");
        $("#liProject").addClass("active");
    });
</script>

@section breadcrumb
{
    <li><a href="~/Home/index">Dashboard</a></li>

    <li class="active">Head Master List</li>
}
@section title
{
    @ViewBag.Title
}
<style type="text/css">
    .form-inline .form-control {
        width: 100%;
    }

    .form-inline input {
        max-width: 100%;
        width: 100%;
    }

    .form-inline .form-group {
        width: 80%;
    }

    /*.margin {
        margin-top: 20px;
        margin-bottom: 20px;
    }*/
</style>
@using (Html.BeginForm("GetHeadMasterList", "Teacher", FormMethod.Get))
{
    <div class="row margin">
        <div class="col-md-5">

            @*<p>
                <p> @Html.ActionLink("Create New Applicant", "Create", "ApplicantVM", null, new { @class = "btn btn-success btn-xs" })</p>

                </p>*@

        </div>
        <div class="form-inline col-md-6" style="margin-bottom: 20px">

            <div class="form-group">
                <input type="text" class="form-control " id="searchItem" name="searchItem" placeholder="Search item" value="@ViewData["searchItem"]">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>
                    @*@Html.DisplayNameFor(model => model.FirstOrDefault().InstituteName)*@
                    Institute Name

                </th>
                <th>
                    Head Master Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.FirstOrDefault().GlobalDistrictName)*@
                    Contract No 1
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.FirstOrDefault().GlobalDistrictName)*@
                    Contract No 2
                </th>
                <th>
                    
                    Email
                </th>
                
                <th>

                    Designation Name
                </th>
                <th>

                    DBO
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.InstituteName)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesignationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>

                        @*@Html.ActionLink("Go To Details", "Edit", "ApplicantVM", new { id = item.InstituteId }, null)*@
                    </td>
                </tr>
            }
        <tbody>
    </table>

    <hr />
    <div class="pager">
        @Html.Raw(Html.Pager(
                 new Options
                 {
                     PageSize = Model.PageSize,
                     TotalItemCount = Model.TotalItemCount,
                     CurrentPage = Model.PageNumber,
                     ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                     ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                     TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                     Size = Size.normal,
                     Alignment = Alignment.centered,
                     IsShowControls = true,
                     IsShowFirstLast = true,
                     IsShowPages = true
                 }, new { searchItem = ViewData["searchItem"] }))
        <div class="well">
            Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
            of <span class="badge badge-info">@Model.TotalItemCount</span> entries
        </div>
    </div>
}




