@using MvcPaging
@model IPagedList<deepp.Entities.Models.Event>
@{
    ViewBag.Title = "News & Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .tab-nav {
        width: 370px;
    }
</style>

<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="page-content">
                    <!-- Page Section -->
                    <div style="margin-top: 0px;margin-bottom: 0px;border-top: 0px #e0e0e0 solid;border-bottom: 0px #e0e0e0 solid;" class="page-section ">
                        <!-- Container Start -->
                        <div class="container">
                            <div class="row">
                                <div class="section-fullwidth">
                                    <div class="element-size-100">
                                        <div class="cs-heading-sec col-md-12">
                                            <div style="border-bottom:1px solid #ebebe9 !important;" class="inner-sec">
                                                <h1 style="color: !important; font-size: 30px !important; text-align:left;;">
                                                    News & Events
                                                </h1>
                                                @*<div style="color: !important; text-align: left;">
                                                        Paneling regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div><div class="element-size-100">
                                        <div class="col-md-12 main-filter">
                                            <nav class="filter-nav">
                                                <ul class="cs-filter-menu pull-left">
                                                    <li><span class="sortby">Sort by</span></li>
                                                    <li>
                                                        <div class="slect-area">
                                                            <i class="icon-location7"></i>
                                                            <form name="filterable" method="get" action="#">
                                                                <select onchange="this.form.submit()" name="filter_category">
                                                                    <option value="News">News</option>
                                                                    <option value="Event">Event</option>
                                                                    <option value="Notice">Notice</option>
                                                                </select>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="grid-filter">
                                                    <li class="">
                                                        <a href="?page_switch=list"><i class="icon-th-list"></i></a>
                                                    </li>
                                                    <li class="">
                                                        <a href="?page_switch=grid"><i class="icon-grid4"></i></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="cs-events events-listing col-md-12">
                                            @*<script src="https://maps.googleapis.com/maps/api/js?sensor=true" type="text/javascript"></script>*@
                                            @foreach (var item in Model)
                                            {
                                                <article class="deeppt-702">
                                                    <div class="date-time">
                                                        <span>@item.EventStartAt.Value.ToString("MMM")</span>
                                                        <strong>@item.EventStartAt.Value.Day</strong>
                                                    </div>
                                                    <section>
                                                        <div class="text">

                                                            @*<span>
                                                                    <a rel="tag" href="http://uoce.chimpgroup.com/event-category/raoundtable/">RAOUNDTABLE</a><a rel="tag" href="http://uoce.chimpgroup.com/event-category/science/">Science</a>
                                                                </span>*@

                                                            <h2>
                                                                @Html.ActionLink(@item.EventTitle, "Details", "Event", new { id = item.Id }, null)
                                                            </h2>
                                                            <ul class="deeppt-options">

                                                                <li>
                                                                    <i class="icon-target5"></i>
                                                                    <span class="cs-event-time">All Day </span>
                                                                </li>
                                                                <li>
                                                                    <i class="icon-location6"></i>
                                                                    @item.EventLocation
                                                                </li>

                                                            </ul>
                                                            <ul class="categories">
                                                                <li>
                                                                    <i class="icon-users5"></i>Contact Person:
                                                                    @item.ContactPerson

                                                                </li>
                                                            </ul>
                                                        </div>
                                                        @*<div class="right-side">
                                                            @if (item.IsActive)
                                                            {
                                                                <a class="free-btn" href="#">Open</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="cancle-btn" href="#">Close</a>
                                                            }
                                                        </div>*@

                                                    </section>
                                                </article>
                                            }


                                        </div>
                                        <div class="col-md-12">
                                            <nav class="pagination">
                                                @*<div class="pager">*@
                                                @Html.Raw(Html.Pager(
                 new Options
                 {
                     PageSize = Model.PageSize,
                     TotalItemCount = Model.TotalItemCount,
                     CurrentPage = Model.PageNumber,
                     ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                     ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                     TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                     Size = Size.normal,
                     Alignment = Alignment.centered,
                     IsShowControls = true,
                     IsShowFirstLast = true,
                     IsShowPages = true
                 }, new { searchItem = ViewData["searchItem"] }))

                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="page-sidebar">
                    @*<div class="widget cs_ads_banner">
                            <div class="cs_banner_section">
                                <a target="_blank" href="" id="cs_banner_clicks276833028" onclick="cs_banner_click_count_plus('http://uoce.chimpgroup.com/wp-admin/admin-ajax.php', '276833028')"><img alt="Sidebar" src="http://uoce.chimpgroup.com/wp-content/uploads/add-img.jpg"></a>
                            </div>
                        </div>*@
                    <div class="widget widget_tabs">
                        <div class="widget element-size-100 widget_tabs">
                            <div class="widget-section-title">
                                <h6></h6>
                            </div>
                            <ul class="tab-nav">
                                <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-user9"> Notice</i></a></li>
                                <li class=""><a href="#tab2" data-toggle="tab"><i class="icon-tag7">News & Events</i></a></li>
                                @*<li class=""><a href="#tab3" data-toggle="tab"><i class="icon-folder5">Acdemic Caleder</i></a></li>*@
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active tabs news" id="tab1">
                                    <ul>

                                        @{Html.RenderAction("GetAll", "Notice");}
                                    </ul>
                                    <a href="~/Notice/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More Notice</a>
                                </div>
                                <div class="tab-pane fade tabs news" id="tab2">


                                    @{Html.RenderAction("GetAll", "Event");}

                                    <a href="~/Event/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More News</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="widget widget_gallery">
                        <div class="widget-section-title"><h6>Photo Gallery</h6></div>
                        <ul class="gallery-list">
                            @{Html.RenderAction("GetPartialGallery", "Gallery");}
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>


@*@model IEnumerable<deepp.Entities.Models.Event>
    @{
        ViewBag.Title = "Event Grid";
    }
    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">News & Event</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                @Html.ActionLink("← Go back Home", "Index", "Home", new { }, null)
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-content">
                <h4 class="widget-title"><span>Notice</span></h4>
                @{Html.RenderAction("GetAll", "Notice");}
                @Html.ActionLink("More Notice", "GetAllWithGrid", "Notice", new { }, new { @class = "btn btn-default-alt btn-sm pull-right" })
            </div> <!-- /.box-content -->
            <div class="box-content">
                <h4 class="widget-title"><span>Gallery</span></h4>
                @{Html.RenderAction("GetPartialGallery", "Gallery");}
            </div> <!-- /.box-content -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-8">
            @{Html.RenderPartial("GetPartialEventsWithGridDetails", Model);}
        </div>
    </div>*@
