@model IEnumerable<deepp.Entities.Models.Event>
<div class="cs-events events-listing">
    @{
        int i = 0;

        foreach (var item in Model)
        {


            @*<span class="cat">
                    <a href="http://uoce.chimpgroup.com/category/masonry/" rel="tag">Masonry</a>
                </span>*@
            @*<a href="http://uoce.chimpgroup.com/law-degree-is-the-most-valuable-degree/">Law degree is the Most valuable degree</a>*@
            @*@Html.ActionLink(@item.EventTitle, "Details", "Event", new { id = item.Id }, null)
                <span class="info">

                    <time datetime="2008-02-14">@item.EventStartAt.Value.Day, @item.EventStartAt.Value.ToString("MMM")</time> <span> @item.EventLocation</span>
                </span>*@
            <article class="deeppt-702">
                <div class="date-time">
                    <span>@item.EventStartAt.Value.ToString("MMM")</span>
                    <strong>@item.EventStartAt.Value.Day</strong>
                </div>
                <section>
                    <div class="text">

                        <h2>
                            @Html.ActionLink(@item.EventTitle, "Details", "Event", new { id = item.Id }, null)
                        </h2>
                        <ul class="deeppt-options">

                            <li>
                                <i class="icon-location6"></i>
                                @item.EventLocation
                            </li>

                        </ul>
                    </div>

                </section>
            </article>


            i++;
            if (i == 3)
            {
                break;
            }

            @*<div class="item">

                    <figure class="cs-eventslider">
                        <a href="#"><img src="~/assets/img/UOCE-Events-Posts-02-340x255.jpg" alt=""></a>
                        <figcaption>
                            <time datetime="2008-02-14 20:00"><i class="icon-clock"></i>@item.EventStartAt.Value.Day, @item.EventStartAt.Value.ToString("MMM")</time>
                            <div class="event-caption">
                                <h6>@Html.ActionLink(@item.EventTitle, "Details", "Event", new { id = item.Id }, null)</h6>
                                <span> @item.EventLocation</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>*@
        }

    }
</div>
@*<div class="event-small-list clearfix">

        <div class="calendar-small">
            <span class="s-month">@item.EventStartAt.Value.ToString("MMM")</span>
            <span class="s-date">@item.EventStartAt.Value.Day</span>
        </div>
        <div class="event-small-details">

            @if (@item.EventTitle.Length >= 40)
            {
                <h5 class="event-small-title">@Html.ActionLink(@item.EventTitle.Substring(0, 40), "Details", "Event", new { id = item.Id }, null)</h5>
                <p class="event-small-meta small-text">
                    <span class="event-place small-text"><i class="fa fa-globe"></i>@item.EventLocation</span>
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>@item.EventStartAt.Value.ToString("MMM") @item.EventStartAt.Value.Day, @item.EventStartAt.Value.Year</span>

                </p>
            }
            else
            {
                <h5 class="event-small-title">@Html.ActionLink(@item.EventTitle, "Details", "Event", new { id = item.Id }, null)</h5>
                <p class="event-small-meta small-text">
                    <span class="event-place small-text"><i class="fa fa-globe"></i>@item.EventLocation</span>
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>@item.EventStartAt.Value.ToString("MMM") @item.EventStartAt.Value.Day, @item.EventStartAt.Value.Year</span>

                </p>
            }
        </div>
    </div>*@



