@model IEnumerable<pnsms.Entities.Models.Notice>

@{
    ViewBag.Title = "Notices";
}
<style type="text/css">
    #marginremove {
        margin: 0;
    }
</style>


<ol class="breadcrumb">
    <li><a href="~/Home/index">Dashboard</a></li>
    <li>Notices</li>
</ol>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @*<h4 class="timeline-month"><span>November</span> <span>2013</span></h4>*@

            @foreach (var item in Model)
            { <ul class="timeline">
                <li class="timeline-orange">
                    @*<div class="timeline-icon"><i class="fa fa-camera"></i></div>*@
                    <div class="timeline-body" id="marginremove">
                        <div class="timeline-header">
                            @*<span class="author">Posted by <a href="#">David Tennant</a></span>
                                <span class="date">Monday, November 11, 2013</span>*@
                            @*Lorem Ipsum Dolor Sit Amet</h3>*@

                            @if (@item.NoticeTitle.Length > 90)
                            {
                                @item.NoticeTitle.Substring(0, 89) <text> ...</text>
                            }

                            else
                            {
                                @item.NoticeTitle
                            }
                        </div>
                        <div class="timeline-content">
                            @if (@item.NoticeBody != null)
                            {


                                if (@item.NoticeBody.Length > 350)
                                {
                                    @MvcHtmlString.Create(@item.NoticeBody.Substring(0, 349)) <text> ...</text>
                                }
                                else
                                {
                                    @MvcHtmlString.Create(@item.NoticeBody)
                                }
                            }
                            @*<p><img src="assets/demo/images/thmb_nature_rider.jpg" alt="" class="pull-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit! Quasi, officia, veniam mollitia recusandae iure aperiam totam culpa aut nobis eveniet porro laborum quisquam non.</p>*@
                        </div>
                        <div class="timeline-footer">
                            <a href="~/Notice/Details?id=@item.Id" class="btn btn-default btn-sm pull-left">View Details</a>
                        </div>
                    </div>
                </li>
            </ul>
            }

        </div>
    </div>
</div>
