@model deepp.Entities.ViewModels.VmUserInfoSecurity
@{
    ViewBag.Title = "ChangePassword";
}
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Change Password</li>
    </ol>
    <h1>Change Password</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-midnightblue">
            <div class="panel-body">
                @using (Html.BeginForm("SaveChangePassword", "UserInfoSecurities", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="full-row">
                        @Html.ValidationSummary(true)
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label">Current Password</label>
                        <div class="col-sm-6">

                            @Html.TextBoxFor(model => model.userInfoSecurity.PasswordHash, new { value = Model.userInfoSecurity.PasswordHash, type = "password", @placeholder = "Old Password", @class = "form-control" })
                            @*<input type="password" class="form-control" id="inputPassword" placeholder="Password">*@
                            @Html.ValidationMessageFor(model => model.userInfoSecurity.PasswordHash)
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-6">

                            @Html.TextBoxFor(model => model.NewPassword, new { type = "password", @placeholder = "Password", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                            @*<input type="password" id="inputPassword" placeholder="Password">*@
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label">Confirm Password</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { type = "password", @placeholder = "Confirm Password", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            @*<input type="password" class="form-control" id="inputPassword" placeholder="Password">*@
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-6">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn-primary btn">Submit</button>
                                <button type="reset" class="btn-default btn">Reset</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
