@model  pnsms.Entities.Models.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}
<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <section class="page-section">
            <div class="container">
                <div class="row">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cs-section-title underline"> <h2>@Model.UserInfo.Name</h2></div>
                            </div>
                            <div class="cs-team team-plain col-md-12">
                                <div class="team-list">
                                    <article class="activedetail">
                                        <div class="media">
                                            <div class="media-left">

                                                <img src="/image/GetImage?id=@Model.EmployeeId &refCode=14&isThumbnail=true" alt="@Model.UserInfo.Name" class="UOCE-Team-Members-12">
                                            </div>
                                            <div class="media-body">
                                                <h4>@Model.Department.Name</h4>
                                                <h3>@Model.Designation.Name</h3>
                                                <div class="contactdiv_detail">
                                                    <ul>
                                                        <li>
                                                            <a class="emaildiv" href="@Model.UserInfo.EmailAddress">
                                                                <ul>
                                                                    <li><i class="icon-envelope4"></i></li>
                                                                    <li>Email:</li>
                                                                    <li>@Model.UserInfo.EmailAddress</li>
                                                                </ul>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="emaildiv" href="#">
                                                                <ul>
                                                                    <li><i class="icon-phone6"></i></li>
                                                                    <li>Phone:</li>
                                                                    <li>@Model.UserInfo.ContactNumber1</li>
                                                                </ul>
                                                            </a>
                                                        </li>
                                                        @*<li>
                                                                <a class="emaildiv" href="#">
                                                                    <ul>
                                                                        <li><i class="icon-map-marker"></i></li>
                                                                        <li>Address:</li>
                                                                        <li>24 Stoke Newington Church Street, London, N16 0LU</li>
                                                                    </ul>
                                                                </a>
                                                            </li>*@

                                                    </ul>
                                                </div>
                                                <div class="col-lg-12 marginleft">
                                                    <div class="social-media-blog">
                                                        <ul>

                                                            <li><a class="icon-facebook2" data-original-title="Facebook" href="@Model.UserInfo.FacebookId" target="_blank"></a></li>

                                                            <li><a class="icon-twitter6" data-original-title="Twitter" href="@Model.UserInfo.TwitterId" target="_blank"></a></li>

                                                            <li><a class="icon-googleplus7" data-original-title="GooglePlus" href="@Model.UserInfo.GoogleId" target="_blank"></a></li>

                                                            <li><a class="icon-instagram4" data-original-title="Instagram" href="http://linkedin.com" target="_blank"></a></li>

                                                            <li><a class="icon-envelope4" data-original-title="Email" href="@Model.UserInfo.EmailAddress" target="_blank"> <span>Email</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            @* come from ckeditor   BIOGRAPHY   *@
                            @MvcHtmlString.Create(@Model.UserInfo.AboutUser)




                            <div class="element-size-100">
                                <div class="col-md-12">
                                    <div class="cs-testimonial testimonial-slider">
                                        <h4>Testimonials</h4>
                                        <div class="cs-testimonial-slider">

                                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                <ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-1406px, 0px, 0px);">

                                                    @{Html.RenderAction("GetActiveTestimonial", "Testimonial");}

                                                </ul>
                                            </div>
                                            <ul class="flex-direction-nav">
                                                <li class="flex-nav-prev"><a href="#" class="flex-prev"><i class="icon-arrow-left10"></i></a></li>
                                                <li class="flex-nav-next">
                                                    <a href="#" class="flex-next">
                                                        <i class="icon-arrow-right10"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>



                                    </div>
                                </div>

                            </div>
                            <div class="section-fullwidth contact-detail">


                                <div class="col-md-12">
                                    <div class="cs-plain-form cs_form_styling col-md-12">
                                        <div class="form-style">
                                            <h4>Quick Inquiry</h4><form class="comment-form" action="javascript:cs_contact_frm_submit(239303238)" id="frm239303238" name="frm239303238">
                                                <label>
                                                    <i class="icon-book8"></i>
                                                    <input type="text" required="" placeholder="Enter Name" name="contact_name">

                                                </label>
                                                <label>
                                                    <i class="icon-mortar-board"></i>
                                                    <input type="text" required="" placeholder="Email Address" name="contact_email">
                                                </label>
                                                <label>
                                                    <i class="icon-globe4"></i>
                                                    <input type="text" required="" placeholder="Subject" name="subject">
                                                </label>
                                                <label class="textaera-sec">
                                                    <textarea cols="39" rows="4" name="contact_msg" id="comment_mes" placeholder="Enter Message"></textarea>
                                                </label>
                                                <label class="form-submit">
                                                    <input type="submit" value="Submit" name="submit">
                                                </label>
                                            </form><div id="loading_div239303238"></div><div style="display:none;" id="message239303238"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="page-sidebar">
                        <div class="widget cs_ads_banner"><div class="cs_banner_section"><a target="_blank" href="" id="cs_banner_clicks276833028" onclick="cs_banner_click_count_plus('http://uoce.chimpgroup.com/wp-admin/admin-ajax.php', '276833028')"><img alt="Sidebar" src="http://uoce.chimpgroup.com/wp-content/uploads/add-img.jpg"></a></div></div>
                        <div class="widget widget_tabs">

                            <div class="widget element-size-100 widget_tabs">
                                <div class="widget-section-title">
                                    <h6></h6>
                                </div>
                                <ul class="tab-nav">
                                    <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-user9"> Notice</i></a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab"><i class="icon-tag7">News & Events</i></a></li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active tabs news" id="tab1">
                                        <ul>

                                            @{Html.RenderAction("GetAll", "Notice");}
                                        </ul>
                                        <a href="~/Notice/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More Notice</a>
                                    </div>
                                    <div class="tab-pane fade tabs news" id="tab2">


                                        @{Html.RenderAction("GetAll", "Event");}

                                        <a href="~/Event/GetAllWithGrid" class="viewall-btn csbg-hovercolor"><i class="icon-angle-double-right"></i> More News</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="widget widget_gallery">
                            <div class="widget-section-title">
                                <h4>Photo Gallery</h4>
                            </div>

                            @{Html.RenderAction("GetPartialGallery", "Gallery");}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>
<script src="~/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script type="text/javascript">

    $("#document").ready(function () {
        jQuery(window).load(function () {
            jQuery('.cs-testimonial-slider').flexslider({
                slideshowSpeed: 4000,
                animationDuration: 1100,
                animation: 'slide',
                directionNav: true,
                controlNav: false,
                //prevText: "&lt;i class='icon-arrow-left10'&gt;&lt;/i&gt;",
                //nextText: "&lt;i class='icon-arrow-right10'&gt;&lt;/i&gt;",
            });
        });

    });

    function cs_contact_frm_submit(form_id) {
        var cs_mail_id = '239303238';
        if (form_id == cs_mail_id) {
            var $ = jQuery;
            $("#loading_div239303238").html('&lt;img src="http://uoce.chimpgroup.com/wp-content/themes/uoc-theme/assets/images/ajax-loader.gif" alt="UOCE-Team-Members-12" /&gt;');
            $("#loading_div239303238").show();
            $("#message239303238").html('');
            var datastring = $('#frm239303238').serialize() + "&amp;cs_contact_email=info@example.com&amp;cs_contact_succ_msg=Email has been sent Successfully&amp;cs_contact_error_msg=An error Occured, please try again later&amp;action=cs_contact_form_submit";
            $.ajax({
                type: 'POST',
                url: 'http://uoce.chimpgroup.com/wp-admin/admin-ajax.php',
                data: datastring,
                dataType: "json",
                success: function (response) {

                    if (response.type == 'error') {
                        $("#loading_div239303238").html('');
                        $("#loading_div239303238").hide();
                        $("#message239303238").addClass('error_mess');
                        $("#message239303238").show();
                        $("#message239303238").html(response.message);
                    }
                    else if (response.type == 'success') {
                        $("#frm239303238").slideUp();
                        $("#loading_div239303238").html('');
                        $("#loading_div239303238").hide();
                        $("#message239303238").addClass('succ_mess');
                        $("#message239303238").show();
                        $("#message239303238").html(response.message);
                    }

                }
            }
            );
        }
    }
</script>