

@model  deepp.Entities.ViewModels.DashBoard.Dashboard
@{
    ViewBag.Title = "Portal";
}
<style type="text/css">
    #report .btn-group {
        width: 100%;
    }
</style>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>



<script type="text/javascript">
    var MaleFemaleRatiotpl = [['Gender', 'Male', 'Female', { role: 'annotation' }]];
    $(document).ready(function () {

        //var chart = Highcharts.chart('container', {

        //    xAxis: {
        //        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        //    },

        //    series: [{
        //        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
        //    }]
        //});
     var   chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'bar'
            },
            title: {
                text: 'Institute wise Student'
            },
            xAxis: {
                categories: ['Institute1', 'Institute1', 'Institute1']
            },
            yAxis: {
                title: {
                    text: 'Fruit eaten'
                }
            },
            series: [{
                name: 'male',
                data: [1, 0, 4]
            }, {
                name: 'Female',
                data: [5, 7, 3]
            }]
        });
      var  chart2 = new Highcharts.Chart({
            chart: {
                renderTo: 'containerpie',
                type: 'pie'
            },
            title: {
                text: 'Attendance Summary'
            },
            xAxis: {
                categories: ['Institute1', 'Institute1', 'Institute1']
            },
            yAxis: {
                title: {
                    text: 'Present'
                }
            },
            series: [{
                name: 'Absent',
                data: [1, 0, 4]
            }, {
                name: 'Leave',
                data: [5, 7, 3]
            }]
        });
        //var chart= Highcharts.chart($('container'), {
        //    chart: {
        //        plotBackgroundColor: null,
        //        plotBorderWidth: null,
        //        plotShadow: false,
        //        type: 'pie'
        //    },
        //    title: {
        //        text: 'Browser market shares in January, 2018'
        //    },
        //    tooltip: {
        //        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        //    },
        //    plotOptions: {
        //        pie: {
        //            allowPointSelect: true,
        //            cursor: 'pointer',
        //            dataLabels: {
        //                enabled: true,
        //                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        //                style: {
        //                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        //                }
        //            }
        //        }
        //    },
        //    series: [{
        //        name: 'Brands',
        //        colorByPoint: true,
        //        data: [{
        //            name: 'Chrome',
        //            y: 61.41,
        //            sliced: true,
        //            selected: true
        //        }, {
        //            name: 'Internet Explorer',
        //            y: 11.84
        //        }, {
        //            name: 'Firefox',
        //            y: 10.85
        //        }, {
        //            name: 'Edge',
        //            y: 4.67
        //        }, {
        //            name: 'Safari',
        //            y: 4.18
        //        }, {
        //            name: 'Sogou Explorer',
        //            y: 1.64
        //        }, {
        //            name: 'Opera',
        //            y: 1.6
        //        }, {
        //            name: 'QQ',
        //            y: 1.2
        //        }, {
        //            name: 'Other',
        //            y: 2.61
        //        }]
        //    }]
        //});
        //Bar Chart
        //Highcharts.chart('#containerBar', {
        //    chart: {
        //        type: 'column'
        //    },
        //    title: {
        //        text: 'Class Wise Student Summary'
        //    },
        //    xAxis: {
        //        categories: $scope.arraylistClassName
        //    },
        //    yAxis: {
        //        min: 0,
        //        title: {
        //            text: 'Total Student'
        //        },
        //        stackLabels: {
        //            enabled: true,
        //            style: {
        //                fontWeight: 'bold',
        //                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
        //            }
        //        }
        //    },
        //    legend: {
        //        align: 'right',
        //        x: -30,
        //        verticalAlign: 'top',
        //        y: 25,
        //        floating: true,
        //        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        //        borderColor: '#CCC',
        //        borderWidth: 1,
        //        shadow: false
        //    },
        //    tooltip: {
        //        headerFormat: '<b>{point.x}</b><br/>',
        //        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        //    },
        //    plotOptions: {
        //        column: {
        //            stacking: 'normal',
        //            dataLabels: {
        //                enabled: true,
        //                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
        //            }
        //        }
        //    },
        //    series: [{
        //        name: 'Class',
        //        data:$scope.arraylistCountClassWise
        //    }]
        //});
    });
    @*var dashboard = {
            tiles: "<div class='col-md-3 col-xs-12 col-sm-6'> <a href='#' class='info-tiles tiles-toyo'><div class='tiles-heading'>[name]</div><div class='tiles-body-alt'><div class='text-center'><span class='text-top'></span>[count]</div></div><div class='tiles-footer'>[details]</div></a></div>",
            getDashboard: function () {
                var url = '@Url.Content("~/Home/GetDashBoard")';
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "json",
                    success: function (data) {
                        for (var i = 0; i < data.data.MaleFemaleRation.length; i++) {
                            MaleFemaleRatiotpl.push([data.data.MaleFemaleRation[i].Name, data.data.MaleFemaleRation[i].Propertices[0].Value, data.data.MaleFemaleRation[i].Propertices[1].Value, '']);
                        }
                        if (data.data.MaleFemaleRation.length > 0) {
                            drawChart(MaleFemaleRatiotpl);
                        }
                        if (data.data.DashboardHeader.length > 0) {

                            dashboard.populateTiles(data.data.DashboardHeader);
                        }
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            },
            populateTiles: function (data) {

                $(".dashboardtiles").empty();
                var tiles = "";

                $.each(data, function (index, item) {
                    tiles += dashboard.tiles.replace("[name]", item.Name).replace("[count]", item.Count).replace("[details]", item.Details);
                });

                $(".dashboardtiles").append(tiles);
            },
            initialize: function () {
                alert("fsdf");
                dashboard.getDashboard();


            }
        }

        dashboard.initialize();*@


    // });
    //google.load("visualization", "1", { packages: ["corechart"] });
    //google.setOnLoadCallback(drawChart);
    //function drawChart(MaleFemaleRatio) {
    //    var data = google.visualization.arrayToDataTable(MaleFemaleRatio
    //    //    [
    //	//['Gender', 'Male', 'Female'
    //    // , { role: 'annotation' }],
    //    //['2011', 98, 53,''],
    //    //['2012', 151, 34,''],
    //    //]
    //    );
    //    var options = {
    //        width: 400,
    //        height: 350,
    //        legend: { deeppition: 'top', maxLines: 3, textStyle: { color: 'black', fontSize: 16 } },
    //        isStacked: true,
    //    };
    //    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    //    chart.draw(data, options);
    //    var chart = new google.visualization.PieChart(document.getElementById('piechart_div'));
    //    chart.draw(data, options);

</script>

<h3> Dashboard</h3>
<hr />
<div class="container">

    <div class="row">
        <div style="height:20px">
        </div>
    </div>
    @if (Sessions.InstituteId != 32)//Portal.shikkhaforall.com
    {
        if (Sessions.UserInfoTypeId != 15)//Golbal User
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="row dashboardtiles">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-toyo" href="~/Student/index?studentId=@Sessions.UserId">
                                <div class="tiles-heading">Profile</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-archive"></i>

                                    <div class="text-center"> @Sessions.UserId</div>
                                    <small>User Id</small>
                                </div>
                                <div class="tiles-footer">Details</div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-success" href="~/Payment/index?studentId=@Sessions.UserId">
                                <div class="tiles-heading">
                                    Payments
                                </div>
                                <div class="tiles-body-alt" style="height:100px">

                                    <i class="fa fa-group"></i>
                                    <div class="text-center">0</div>
                                    <small>Total Payments</small>
                                </div>
                                <div class="tiles-footer">Details</div>
                            </a>
                        </div>

                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-orange" href="~/Notice/Index">
                                <div class="tiles-heading">Notice</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-shopping-cart"></i>
                                    <div class="text-center">5</div>
                                    <small>Total Notice</small>
                                </div>
                                <div class="tiles-footer">Details</div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-alizarin" href="~/Event/Index">
                                <div class="tiles-heading">Events</div>

                                <div class="tiles-body-alt">
                                    <i class="fa fa-home"></i>
                                    <div class="text-center">5</div>
                                    <small>Total Events</small>
                                </div>
                                <div class="tiles-footer">Details</div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row dashboardtiles">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <a class="info-tiles tiles-alizarin" href="~/Institute/GetInstituteList">
                            <div class="tiles-heading">Total School</div>

                            <div class="tiles-body-alt">
                                <i class="fa fa-home"></i>
                                <div class="text-center">@Model.lstInstituteTotalInfo[0].TotalInstitute</div>
                                <small>Total School</small>
                            </div>
                            <div class="tiles-footer">Details</div>
                        </a>
                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <a class="info-tiles tiles-success" href="#">
                            <div class="tiles-heading">
                                Total Student
                            </div>
                            <div class="tiles-body-alt" style="height:100px">

                                <i class="fa fa-group"></i>
                                <div class="text-center">@Model.lstInstituteTotalInfo[0].TotalStudentsCount</div>
                                <small>Total Student</small>
                            </div>
                            <div class="tiles-footer">Details</div>
                        </a>
                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <a class="info-tiles tiles-orange" href="#">
                            <div class="tiles-heading">Total Teacher</div>
                            <div class="tiles-body-alt">
                                <i class="fa fa-shopping-cart"></i>
                                <div class="text-center">@Model.lstInstituteTotalInfo[0].TotalTeachersCount</div>
                                <small>Total Teacher</small>
                            </div>
                            <div class="tiles-footer">Details</div>
                        </a>
                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <a class="info-tiles tiles-toyo" href="#">
                            <div class="tiles-heading">Total Employee</div>
                            <div class="tiles-body-alt">
                                <i class="fa fa-archive"></i>

                                <div class="text-center">@Model.lstInstituteTotalInfo[0].TotalEmployeesCount</div>
                                <small>Total Employee</small>
                            </div>
                            <div class="tiles-footer">Details</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-indigo">
                    <div class="panel-heading">
                        <h4>Student Gender Ratio</h4>
                        <div class="options">
                            <a href="javascript:;"><i class="fa fa-cog"></i></a>
                            <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                            <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" style="margin-bottom: 0px;">
                                <thead>
                                    <tr>

                                        <th class="col-sm-8 ">Name</th>
                                        <th class="col-sm-2">Total</th>
                                        <th class="col-sm-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="selects">
                                    @if (@Model.lstMaleFemaleRatioGlobal.Count > 0)
                                    {
                                        foreach (var item in @Model.lstMaleFemaleRatioGlobal)
                                        {
                                            <tr>
                                                <td style="font-size: 100%;">@item.GenderName</td>
                                                <td style="font-size: 100%;"><span class="label label-info">@item.CountGenderWise</span> </td>
                                                <td style="font-size: 100%;"><a href="#" class="btn btn-info btn-xs" role="button">Go To Deatils</a> </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-indigo">
                    <div class="panel-heading">
                        <h4>Teacher Gender Ratio</h4>
                        <div class="options">
                            <a href="javascript:;"><i class="fa fa-cog"></i></a>
                            <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                            <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" style="margin-bottom: 0px;">
                                <thead>
                                    <tr>

                                        <th class="col-sm-8 ">Gender Name</th>
                                        <th class="col-sm-2">Count</th>
                                        <th class="col-sm-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="selects">
                                    @if (@Model.lstTeacherMaleFemaleRatioGlobal.Count > 0)
                                    {
                                        foreach (var item in @Model.lstTeacherMaleFemaleRatioGlobal)
                                        {
                                            <tr>
                                                <td style="font-size: 100%;">@item.GenderName</td>
                                                <td style="font-size: 100%;"><span class="label label-info">@item.CountGenderWise</span> </td>
                                                <td style="font-size: 100%;"><a href="#" class="btn btn-info btn-xs" role="button">Go To Deatils</a> </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>

            @*<div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-indigo">
                            <div class="panel-heading">
                                <h4>School List</h4>
                                <div class="options">
                                    <a href="javascript:;"><i class="fa fa-cog"></i></a>
                                    <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                                    <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table" style="margin-bottom: 0px;">
                                        <thead>
                                            <tr>

                                                <th class="col-xs-9 col-sm-3">School Name</th>
                                                <th class="col-sm-2 hidden-xs">Male </th>
                                                <th class="col-xs-2 col-sm-2">Female</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="selects">
                                            @foreach (var item in @Model.lstInstitute)
                                            {
                                                <tr>

                                                    <td class="hidden-xs">

                                                        <a href="#"  role="button">@item.Name</a>
                                                    </td>
                                                    <td>80%</td>
                                                    <td>20%</td>
                                                    <td>


                                                        <a href="#" class="btn btn-success" role="button">school Deatils</a>
                                                        <a href="#" class="btn btn-info" role="button">Reports</a>


                                                    </td>
                                                </tr>


                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
        <div class="row">
            @*<div class="col-md-6">
                    <div id="containerBar"></div>
                    <p>sdfasdasdasd</p>
                </div>
                <div class="col-md-6">
                    <div id="containerPie"></div>
                    <p>sdfasdasdasd</p>
                </div>*@
            <div class="col-md-12">
                <div id="container" style="height: 400px"></div>
                </div>
            </div>
        <div class="row">
            @*<div class="col-md-6">
                    <div id="containerBar"></div>
                    <p>sdfasdasdasd</p>
                </div>
                <div class="col-md-6">
                    <div id="containerPie"></div>
                    <p>sdfasdasdasd</p>
                </div>*@
            <div class="col-md-12">
                <div id="containerpie" style="height: 400px"></div>
                </div>
            </div>
    }
</div>
