@model List<pnsms.Entities.Models.Employee>
@{
    ViewBag.Title = "Staff List";
}
<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <!-- Page Section -->
        <div style="margin-top: 0px;margin-bottom: 0px;border-top: 0px #e0e0e0 solid;border-bottom: 0px #e0e0e0 solid;" class="page-section ">
            <!-- Container Start -->
            <div class="container">
                <div class="row">
                    <div class="section-fullwidth">
                        <div class="element-size-100"><div class="cs-heading-sec col-md-12"><div style="border-bottom:1px solid #ebebe9 !important;" class="inner-sec"><h1 style="color: !important; font-size: 30px !important; text-align:left;;">Staff List</h1><div style="color: !important; text-align: left;;">													</div></div></div></div><div class="element-size-100">
                            <div class="cs-team team-box-grid">
                      
                                @foreach (var item in Model)
                                {
                                    
                                    <article class="col-sm-6 col-md-3">
                                        <div class="overlayslide custom-fig">
                                            <figure>
                                                <a href="~/Employees/EmployeesDetails?employeeId=@item.EmployeeId">

                                                    <img src="/image/GetImage?id=@item.EmployeeId&refCode=14&isThumbnail=false" class="attachment-member-thumb">
                                                </a>
                                                <figcaption>
                                                    <a title="" href="~/Employees/EmployeesDetails?employeeId=@item.EmployeeId"><i class="icon-plus8"></i></a>
                                                </figcaption>
                                            </figure>
                                            <div class="overlaytext">
                                                <h4>
                                                    <a style="color: !important" href="~/Employees/EmployeesDetails?employeeId=@item.EmployeeId">
                                                        @item.UserInfo.Name
                                                    </a>
                                                </h4>
                                                <h3><a style="color: !important" href="~/Employees/EmployeesDetails?employeeId=@item.EmployeeId">
                                                    @if(@item.Designation!=null){
                                                          @item.Designation.Name
                                                    }
                                                  
                                                    </a>
                                                </h3>
                                                <div class="viewstudent">
                                                    <i class="icon-plus8 customcolor"></i>
                                                    <a href="~/Employees/EmployeesDetails?employeeId=@item.EmployeeId">
                                                        View Profile
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                }

                            </div><div class="col-md-12"><nav class="pagination"><div class="spreater"></div><ul><li class="pgprev cs-inactive"><a class="icon"><i class="icon-caret-left"></i></a></li><li><a class="active">1</a></li><li><a href="?page_id_all=2">2</a></li><li class="pgnext"><a href="?page_id_all=2" class="icon"> <i class="icon-caret-right"></i></a></li></ul><div class="spreater"></div></nav></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
@*<div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">Staffs</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                @Html.ActionLink("← Go back Home", "Index", "Home", new { }, null)
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-content">
                <h4 class="widget-title"><span>Notice</span></h4>
                @{Html.RenderAction("GetAll", "Notice");}
                @Html.ActionLink("More Notice", "GetAllWithGrid", "Notice", new { }, new { @class = "btn btn-default-alt btn-sm pull-right" })
            </div> <!-- /.box-content -->
            <div class="box-content">
                <h4 class="widget-title"><span>Gallery</span></h4>
                @{Html.RenderAction("GetPartialGallery", "Gallery");}
            </div> <!-- /.box-content -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-8">
            <div class="box-content">
                <div class="events-sidebar">
                    <h4 class="widget-title">
                        <span>Total Staff : @ViewBag.Count</span>
                    </h4>
                    <ul>
                        @foreach (var item in Model)
                        {
                            var desig = item.Designation == null ? "" : item.Designation.Name;
                            <li class="event-item">
                                <div class="event-thumb">
                                    <img src="/image/GetImage?id=@item.EmployeeId&refCode=14&isThumbnail=false" class="attachment-member-thumb">
                                </div>
                                <div class="event-content member-content">
                                    <ul class="social pull-right">
                                        <li><a class="fa fa-twitter" href="#"></a></li>
                                        <li><a class="fa fa-facebook" href="#"></a></li>
                                        <li><a class="fa fa-google-plus" href="#"></a></li>
                                    </ul>
                                    <h5 class="event-title">@item.UserInfo.Name</h5>
                                    <h5 class="event-title">@desig</h5>
                                    <p class="event-meta">about about</p>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div> <!-- /.box-content -->
    </div>*@
