@model IEnumerable<pnsms.Entities.Models.Event>
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "GetPartialNoticWithGridDetails";
}

@foreach (var item in Model)
{

    <div class="event-list">
        <div class="event-content">
            <h4 class="event-title"><a href="../event/charity-povert-reduction-event-day/index.html">Charity Povert Reduction Event Day</a></h4>
            <p>
                @if (@item.EventBody.Length > 120)
                {
                    @MvcHtmlString.Create(@Regex.Replace(@item.EventBody.Substring(0, 120), @"<[^>]+>|<", "").Trim())
                }
                else
                {
                    @MvcHtmlString.Create(@Regex.Replace(@item.EventBody, @"<[^>]+>|<", "").Trim())
                }
                @Html.ActionLink("Read More", "Details", "Notice", new { id = item.Id }, null)
            </p>
            <div class="notice-thumb">
                date
            </div>
        </div>
    </div>
}

@*<div class="col-md-6">
    <div class="grid-event-item">
        <div class="grid-event-header">
            <span class="event-place small-text"><i class="fa fa-globe"></i>@item.EventLocation</span>
            <span class="event-date small-text"><i class="fa fa-calendar-o"></i><em>@item.EventStartAt.Value.ToString("MMM")</em> @item.EventStartAt.Value.Day, @item.EventStartAt.Value.Year</span>
        </div>
        <div class="box-content-inner" style="height:150px">

            @if (@item.EventTitle.Length > 30)
            {

                <h5 class="event-title">
                    @Html.ActionLink(@item.EventTitle.Substring(1, 30), "Details", "Event", new { id = item.Id }, null).....
                </h5>
            }
            else
            {
                <h5 class="event-title">
                    @Html.ActionLink(@item.EventTitle, "Details", "Event", new { id = item.Id }, null)
                </h5>
            }


            @if (@item.EventBody.Length > 60)
            {    <p>
                @Regex.Replace(@item.EventBody.Substring(0, 100), @"<[^>]+>|<", "").Trim() ....
                
                @Html.ActionLink("View Details", "Details", "Event", new { id = item.Id }, null)&rarr;
            </p>

            }
            else
            {
                <p>
                    @Regex.Replace(@item.EventBody, @"<[^>]+>|<", "").Trim()
                    @Html.ActionLink("View Details", "Details", "Event", new { id = item.Id }, null)&rarr;
                </p>

            }


        </div>
    </div>
</div>*@