@model IEnumerable<pnsms.Entities.Models.Gallery>
@{
    ViewBag.Title = "Gallery ";
}
<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="page-content">
                    <!-- Page Section -->
                    <div class="page-section " style="margin-top: 0px;margin-bottom: 0px;border-top: 0px #e0e0e0 solid;border-bottom: 0px #e0e0e0 solid;">
                        <!-- Container Start -->
                        <div class="container">
                            <div class="row">
                                <div class="section-fullwidth">
                                    @*<div class="element-size-100">
                                            <div style="background-image:url(); color:; background-color:;" class="cs-holder lightbox  col-md-12">
                                                <img src="http://uoce.chimpgroup.com/wp-content/uploads/multimedia.jpg" alt="multimedia" class="alignnone size-full wp-image-345">
                                            </div>
                                        </div>*@
                                    <div class="element-size-100">
                                        <div style="background-image:url(); color:; background-color:;" class="cs-holder lightbox  col-md-12">
                                            <h1>Photo Gallery</h1>
                                            @*In 1789, then Archishop John Carroll secured the deed to 60 acres of land on a hilltop overlooking the village of Georgetown and the Potomac River. Over the centuries, the college he created has developed into one of the top research universities in the country, known for its relevance and diversity in the heart of Washington, D.C.*@
                                        </div>
                                    </div>
                                    <div class="element-size-100">
                                        <div class="cs-gallery plain">
                                            <div class="row">
                                                @foreach (var item in Model){
                                                    <article class="col-md-4">
                                                        <figure>
                                                            @if (item.Image != null)
                            {
                                                                <a href="~/Gallery/GetGalleryById?id=@item.Id">
                                                                    @*<img src="http://uoce.chimpgroup.com/wp-content/uploads/gallery-8.jpg" alt="">*@
                                                                    <img class="attachment-cause-thumb-4col wp-post-image" src="../image/GetImage?id=@item.Id&refCode=19&isThumbnail=false" alt="">
                                                                </a>
                                                            }
                                                            <figcaption>
                                                                <span>@*5 Photos*@</span>
                                                            </figcaption>
                                                        </figure>
                                                        <h6> @Html.ActionLink(@item.GalleryTitle, "GetGalleryById", new { id = item.Id })</h6>
                                                    </article>
                                                    }

                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <!-- Latest Video End -->
                                        <!--<div class="clear"></div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            <aside class="page-sidebar">
                    <div class="widget cs_ads_banner"><div class="cs_banner_section"><a onclick="cs_banner_click_count_plus('http://uoce.chimpgroup.com/wp-admin/admin-ajax.php', '276833028')" id="cs_banner_clicks276833028" href="" target="_blank"><img src="http://uoce.chimpgroup.com/wp-content/uploads/add-img.jpg" alt="Sidebar"></a></div></div><div class="widget widget_calendar">
                        <div class="widget-section-title"><h6>Calendar</h6></div><div id="calendar_wrap" class="calendar_wrap">
                            <table id="wp-calendar">
                                <caption>December 2017</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" title="Monday">M</th>
                                        <th scope="col" title="Tuesday">T</th>
                                        <th scope="col" title="Wednesday">W</th>
                                        <th scope="col" title="Thursday">T</th>
                                        <th scope="col" title="Friday">F</th>
                                        <th scope="col" title="Saturday">S</th>
                                        <th scope="col" title="Sunday">S</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <td colspan="3" id="prev"><a href="http://uoce.chimpgroup.com/2015/06/">« Jun</a></td>
                                        <td class="pad">&nbsp;</td>
                                        <td colspan="3" id="next" class="pad">&nbsp;</td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr>
                                        <td colspan="4" class="pad">&nbsp;</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td>16</td>
                                        <td>17</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>19</td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td id="today">22</td>
                                        <td>23</td>
                                        <td>24</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                        <td>31</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>


<script src="~/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
    jQuery(window).load(function () {
        $portfolio = jQuery('.portfolio-items');
        $portfolio.isotope({
            itemSelector: 'li',
            layoutMode: 'fitRows'
        });
        $portfolio_selectors = jQuery('.portfolio-filter &gt;li&gt;a');
        $portfolio_selectors.on('click', function () {
            $portfolio_selectors.removeClass('active');
            jQuery(this).addClass('active');
            var selector = jQuery(this).attr('data-filter');
            $portfolio.isotope({ filter: selector });
            return false;
        });
    });


</script>

@*<div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">Gallery</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                @Html.ActionLink("← Go back Home", "Index", "Home", new { }, null)
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-content">
                <h4 class="widget-title"><span>Notice</span></h4>
                @{Html.RenderAction("GetAll", "Notice");}
                @Html.ActionLink("More Notice", "GetAllWithGrid", "Notice", new { }, new { @class = "btn btn-default-alt btn-sm pull-right" })
            </div> <!-- /.box-content -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-8">
            <div class="box-content">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-sm-6 post-grid">
                        <div class="post-thumb">
                            @if (item.Image != null)
                            {
                                <a href="@Url.Action("GetGalleryById", new { Id = item.Id })">
                                    <img class="attachment-cause-thumb-4col wp-post-image" src="../image/GetImage?id=@item.Id&refCode=19&isThumbnail=false">
                                </a>
                            }
                        </div> <!-- /.post-thumb -->
                        <div class="post-content">
                            <p class="post-meta">@item.GallerySubtitle</p>
                            <h4 class="post-title">@Html.ActionLink(@item.GalleryTitle, "GetGalleryById", new { id = item.Id })</h4>

                        </div> <!-- /.post-content -->
                    </div>
                }
            </div>
            </div>
    </div>*@
