@model pnsms.Entities.Models.Gallery
@{
    ViewBag.Title = "Gallery ";
}

<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <section style="margin:0 0 20px 0;" class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <section id="portfolio-section">
                            <div class="wrap-pad first">
                                <div class="row">
                                    <div class="cs-gallery classic-gallery col-md-12">
                                        <ul class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 414px;">
                                            @{ int i = 0;
                                               int j=0;
                                             foreach (var item in Model.Images)
                                             {
                                                 string pixel = i + "px";
                                                <li class="portfolio-item id_@item.Id col-md-3 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(@pixel, 0px, 0px);">
                                                    <div class="item-main">
                                                        <div class="portfolio-image">
                                                            <figure>
                                                                <img src="/image/GetImageById?id=@item.Id&refCode=17" alt="gallery image" title="@item.ImageCaption">
                                                                <figcaption>
                                                                    <ul class="gallery clearfix"></ul>
                                                                    <ul class="gallery clearfix">
                                                                        <a href="~/image/GetImageById?id=@item.Id&refCode=17" rel="prettyPhoto[myGallery]" data-rel="prettyPhoto[@j]" title="@item.ImageCaption.">
                                                                            <i class="icon-plus8"></i>
                                                                        </a>
                                                                    </ul>
                                                                </figcaption>
                                                            </figure>


                                                        </div>
                                                    </div>
                                                </li>
                                                 pixel = "";
                                                 j = j + 1;
                                                 i = i + 270;
                                             }
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">
            jQuery(window).load(function () {
                $portfolio = jQuery('.portfolio-items');
                $portfolio.isotope({
                    itemSelector: 'li',
                    layoutMode: 'fitRows'
                });
                $portfolio_selectors = jQuery('.portfolio-filter &gt;li&gt;a');
                $portfolio_selectors.on('click', function () {
                    $portfolio_selectors.removeClass('active');
                    jQuery(this).addClass('active');
                    var selector = jQuery(this).attr('data-filter');
                    $portfolio.isotope({ filter: selector });
                    return false;
                });
            });


        </script>
        <!--Footer-->

    </div>
</main>

@*<div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">@Model.GalleryTitle</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                @Html.ActionLink("← Go back Home", "Index", "Home", new { }, null)
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-content">
                <h4 class="widget-title"><span>Notice</span></h4>
                @{Html.RenderAction("GetAll", "Notice");}
                @Html.ActionLink("More Notice", "GetAllWithGrid", "Notice", new { }, new { @class = "btn btn-default-alt btn-sm pull-right" })
            </div> <!-- /.box-content -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-8">
            <div class="box-content">
                @foreach (var item in Model.Images)
                {
                    <div class="event-list">
                        <div class="event-thumb">
                            <img width="240" height="192" class="attachment-event-thumb wp-post-image" src="/image/GetImageById?id=@item.Id&refCode=17">
                        </div> <!-- /.event-thumb -->

                        <div class="event-content">
                            <p>@item.ImageCaption</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.event-content -->
                    </div>
                }
            </div>
        </div>
    </div>*@
